body {
	background-color:#272727;
	margin:50px;
	font-family:verdana;
	font-size:25px;
	line-height:30px;
	color:white;
}

div {
	position:relative;
	width:auto;
}

img {
	position:absolute;
	top:0;
}

p {
	position:absolute;
	display:block;
	text-align:right;
	top:330px;
}

a {
	color:#DBF8C4;
	background-color:#8FBD6B;
	text-decoration:none;
	padding:5px;
}

a:hover {
	background-color:#CFF6B1;
	color:#8FBD6B;
}
